@model IEnumerable<ProductModel>

<div class="container">
    <div class="heading">
        Product List
    </div>
    <div>
        <a id="btnAddProduct" asp-controller="Product" asp-action="AddNewProduct" class="btn btn-warning addBtn">Add New Product</a>
    </div>
    <div class="data">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" width="15%">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col" width="30%">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.ProductName</td>
                        <td>
                            <a id="btnEdit" asp-controller="Product" asp-action="EditProduct" asp-route-id="@product.Id" asp-route-productName="@product.ProductName" class="btn btn-info">Edit</a>
                            <a data-value="@product.Id" id="btnDelete" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@product.Id" class="btn btn-danger" onclick="return confirm('Are You Sure... You want to Delete this Product ?')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>